html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
:root {
    --clr__text_white: #FFFFFF;
}
.text-white {
    color: var(--clr__text_white);
}
label {
    color: white;
}