html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
:root {
    --clr_text_white: #FFFFFF;
    --clr_text_black: #000000;
}
.text-white {
    color: var(--clr_text_white);
}
.text-black {
    color: var(--clr_text_black);
}
.label.white{
    color: white;
}
.label.black {
    color: black;
}
.nav-link:hover{
    background: gray;
    border-radius: 25px;
    animation: ease-in-out 100ms;
}
.nav-link{
    margin: 3px;
}
