@{
    ViewData["Title"] = "Home Page";
}
<h4>Home Page</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <a class="" asp-area="" asp-controller="Approval" asp-action="Index"><h4>Approvals</h4></a>
        </div>
        <div class="col-4">
            <a class="" asp-area="" asp-controller="Request" asp-action="Index"><h4>Requests</h4></a>
        </div>
        <div class="col-4">
            <a class="" asp-area="" asp-controller="Settings" asp-action="Index"><h4>Settings</h4></a>
        </div>
    </div>
</div>