@model OEWebApplicationApp.Models.ImageModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>

<h4>ImageModel</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestId" class="control-label"></label>
                <input asp-for="RequestId" class="form-control" />
                <span asp-validation-for="RequestId" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="InsertDate" class="control-label"></label>
                <input asp-for="InsertDate" class="form-control" />
                <span asp-validation-for="InsertDate" class="text-danger"></span>
            </div>*@
@*            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" value="Calgary" readonly/>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageData" class="control-label"></label>
                <input asp-for="ImageData" class="form-control" type="file" name="ImageFile" accept="application/pdf, application/txt" required/>
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

    <form asp-action="Upload" asp-controller="Upload" method="post" enctype="multipart/form-data">
        @if (Model.IsResponse)
        {
            if (Model.IsSuccess)
            {
                <div class="alert alert-success">
                    @Model.Message
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    @Model.Message
                </div>
            }
        }
        <div class="row mt-2">
            <div class="col-12">
                <label class="col-form-label">Enter File Name For Save</label>
                <input asp-for="ImageData" class="form-control" />
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <label class="col-form-label">Select File</label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-12">
                <button type="submit" class="btn btn-success">Upload File</button>
            </div>
        </div>
    </form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
