@model OEWebApplicationApp.Models.ImageModel
@{
    ViewData["Title"] = "Images";
}
Image Page
<body>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="ImageData" type="file" />
        <input type="submit" value="Create" class="btn btn-primary" />
    </form>
</body>

