@model OEWebApplicationApp.Models.TblCgyoeModel

@{
    ViewData["Title"] = "Create Request";
}



    <h4>Create an Operating Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <select asp-for="Vendor" asp-items=@ViewBag.masterVendor  class="form-control"></select>
@*                <input asp-for="Vendor" class="form-control" />*@
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedBy" class="control-label"></label>
                <input asp-for="RequestedBy" class="form-control" value="@ViewBag.UserName" readonly/>
                <span asp-validation-for="RequestedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Glaccount" class="control-label"></label>
                <input asp-for="Glaccount" class="form-control" />
                <span asp-validation-for="Glaccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoApproveThreshold" class="control-label"></label>
                <input asp-for="AutoApproveThreshold" class="form-control" />
                <span asp-validation-for="AutoApproveThreshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" id="Amount" value="0.00" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gstincluded" class="control-label"></label>
                <select asp-for="Gstincluded" asp-items=@ViewBag.gstInc class="form-control"></select>
                <span asp-validation-for="Gstincluded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gstamount" class="control-label"></label>
                <input asp-for="Gstamount" class="form-control" id="gstValue" value="@ViewBag.GstValue" readonly />
                <span asp-validation-for="Gstamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" id="TotalAmount" value="0.00" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>

            <button id="btnFilterData" type="button" value="myBtn" class="btn btn-success">calc</button>

            <div class="form-group">
                <label asp-for="Budgeted" class="control-label">Budgeted Option</label>
                <select asp-for="Budgeted" asp-items=@ViewBag.Budgeted class="form-control"></select>
                <span asp-validation-for="Budgeted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoApproved" class="control-label"></label>
                <select asp-for="AutoApproved" asp-items=@ViewBag.autoApproved class="form-control"></select>
                <span asp-validation-for="AutoApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request" class="control-label"></label>
                <input asp-for="Request" class="form-control" />
                <span asp-validation-for="Request" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedBy" class="control-label"></label>
                <input asp-for="ApprovedBy" class="form-control" readonly/>
                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedDate" class="control-label"></label>
                <input asp-for="ApprovedDate" class="form-control" readonly/>
                <span asp-validation-for="ApprovedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items=@ViewBag.status class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Attachment" class="control-label"></label>
                <input asp-for="Attachment" class="form-control" />
                <span asp-validation-for="Attachment" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
}
