@{
    ViewData["Title"] = "OE Print";
}
<a class="" asp-action="Index" asp-controller="Request"><h4>Back to Request</h4></a>
<iframe src="C:\Users\edoucett\Desktop\MorrisonOEPO.pdf" class="" width="1000" runat="server"></iframe>
<a href="C:\Users\edoucett\Desktop\MorrisonOEPO.pdf" target="_blank" runat="server">View File</a>

<table class="table table-striped table-bordered table-hover boxShadow">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>

            <tr>
                <td>
                <a href="C:\Users\edoucett\Desktop\MorrisonOEPO.pdf" target="_blank">View File</a>
                </td>
                <td>
                <iframe src="C:\Users\edoucett\Desktop\MorrisonOEPO.pdf" class="" width="1000"></iframe>
                </td>
            </tr>
    </tbody>
</table>