
@{
            ViewData["Title"] = "Approval Page";
}
<h4>OE Approval Page</h4>

<div class="container-fluid border d-inline-flex justify-content-center">
    <button type="button" class="btn APPROVE me-2 ">APPROVE</button>
    <button type="button" class="btn DELETE me-2">DELETE</button>
    <button type="button" class="btn PRINT me-2">PRINT</button>
    <button type="button" class="btn SUBMIT me-2">SUBMIT</button>
    <button type="button" class="btn REFRESH me-2">REFRESH</button>
</div>

