@model OEWebApplicationApp.Models.TblCgyoeModel

@{
    ViewData["Title"] = "Approval";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4"><h3>Approve </h3></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p>
                <a asp-area="" asp-controller="Approval" asp-action="Index" asp-route-id="notApproved"><h5>Back to List</h5></a>
            </p>
        </div>
    </div>
</div>
<hr />
<div class="container-fluid ">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestId" />
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <input asp-for="Vendor" class="form-control" readonly/>
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                    <input asp-for="VendorName" class="form-control" readonly />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedBy" class="control-label"></label>
                    <input asp-for="RequestedBy" class="form-control" readonly />
                <span asp-validation-for="RequestedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Glaccount" class="control-label"></label>
                    <input asp-for="Glaccount" class="form-control" readonly />
                <span asp-validation-for="Glaccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoApproveThreshold" class="control-label"></label>
                    <input asp-for="AutoApproveThreshold" class="form-control" readonly />
                <span asp-validation-for="AutoApproveThreshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" readonly />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gstvalue" class="control-label"></label>
                    <input asp-for="Gstvalue" class="form-control" readonly />
                <span asp-validation-for="Gstvalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gstamount" class="control-label"></label>
                    <input asp-for="Gstamount" class="form-control" readonly />
                <span asp-validation-for="Gstamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                    <input asp-for="TotalAmount" class="form-control" readonly />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gstincluded" class="control-label"></label>
                    <input asp-for="Gstincluded" class="form-control" readonly />
                <span asp-validation-for="Gstincluded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budgeted" class="control-label"></label>
                    <input asp-for="Budgeted" class="form-control" readonly />
                <span asp-validation-for="Budgeted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoApproved" class="control-label"></label>
                    <input asp-for="AutoApproved" class="form-control" readonly />
                <span asp-validation-for="AutoApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request" class="control-label"></label>
                <input asp-for="Request" class="form-control" />
                <span asp-validation-for="Request" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                    <input asp-for="PurchaseDate" class="form-control" readonly />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedBy" class="control-label"></label>
                    <input asp-for="ApprovedBy" class="form-control" readonly />
                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedDate" class="control-label"></label>
                <input asp-for="ApprovedDate" class="form-control" />
                <span asp-validation-for="ApprovedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items=@ViewBag.status class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attachment" class="control-label"></label>
                    <input asp-for="Attachment" class="form-control" readonly />
                <span asp-validation-for="Attachment" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Approve" class="btn btn-primary m-2" />
            </div>
        </form>

    </div>
        <div class="col-md-4"></div>
</div>
