html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
label{
    color: white;
}
.APPROVE {
    background: blue;
    color: white;
    border-color: black;
}
.DELETE {
    background: darkred;
    color: white;
    border-color: black;
}
.PRINT {
    background: yellow;
    color: black;
    border-color: black;
}
.SUBMIT {
    background: green;
    color: white;
    border-color: black;
}
.CLEAR {
    background: transparent;
    color: black;
    border-color: black;
}
.REFRESH {
    background: gray;
    color: white;
    border-color: black;
}